/* ========= GERAL ========== */

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* paleta de cores */

    --blank: #FDFDFD;
    --primary-color: #F2F2F2;
    --light-gray: #737373;
    --medium-gray: #d3d3d3;
    --dark-gray: #404040;
    --black: #0d0d0d;
    --black-stroke: #0d0d0dcc;

    /* letras */
    --paragraph: #0d0d0d;

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;

    background-color: var(--black);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

fieldset {
    border: none;
}

div#sheet {
    margin: 0.8rem auto 5rem auto;
    padding: 0rem 2.5rem;

    max-width: 59.6rem;

    background-color: var(--primary-color);

    border-radius: 0.5rem;
}

h3 {
    margin-bottom: 5rem;
}

/* ======== HEADER ========== */

header {
    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;
    padding-top: 2.5rem;

    align-items: center;
    gap: 2.5rem;

    text-align: center;
}

/* ======== FORMULÁRIO ========== */



/* ======== SOBRE VOCÊ ========== */

#cliente label {
    display: block;
    margin-bottom: 1rem;
}

#cliente input {
    margin-bottom: 5rem;

    background-color: var(--blank);
    
    width: 100%;
    height: 3.4rem;

    border: 0.1rem solid var(--black-stroke);
    border-radius: 0.3rem;
}

#cliente img {
    display: flex;
    margin: auto;
    margin-bottom: 5rem;
}

/* ======== SOBRE A ARTE ========== */

.info{
    display: flex;
    flex-direction: column;

    margin-bottom: 2.5rem;
}

.info h4 {
    margin-bottom: 2.5rem;
}

div.info:nth-last-child(1) {
    margin-bottom: 5rem;
}

.input-style {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 2rem;

    margin-bottom: 2.5rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--blank);

    font: inherit;
    color: var(--black);

    width: 2rem;
    height: 2rem;

    border: 0.2rem solid var(--dark-gray);
    border-radius: 0.3rem;

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;

    background-color: var(--dark-gray);
    border-radius: 0.3rem;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: 0.3rem solid var(--medium-gray);
}

input[type="radio"] {
    appearance: none;
    background-color: var(--blank);

    font: inherit;
    color: var(--blank);

    width: 2rem;
    height: 2rem;

    border: 0.2rem solid var(--dark-gray);
    border-radius: 50%;

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;

    background-color: var(--dark-gray);
    border-radius: 50%;

    transform: scale(0);
    transition: 120ms transform ease-in-out;

    transform-origin: center;
}

input[type="radio"]:checked::before{
    transform: scale(1);
}

input[type="radio"]:focus{
    outline: var(--medium-gray) solid 0.3rem;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
}

textarea:focus {
    outline: var(--medium-gray);
}

#enviar {
    display: flex;
    justify-content: center;
}


#botao {
    display: inline-block;
    margin-bottom: 5rem;
    position: relative;

    width: 15rem;
    height: 3.9rem;

    color: var(--blank);
    background-color: var(--black);

    border: 0.2rem solid var(--black);
    border-radius: 0.8rem;

    z-index: 1;
    overflow: hidden;
}

#botao:hover {
    cursor: pointer;
    color: var(--black);

    border: 0.2rem solid var(--black);
}

#botao::after {
    content: "";
    background: var(--blank);

    position: absolute;
    z-index: -1;
    padding: 0.85rem 0rem;
    display: block;
    transition: all 0.35s;

    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

#botao:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

#botao:active {
    background-color: #0d0d0d;
}




/* ======== FOOTER ========== */

footer {
    color: var(--blank);

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 5rem;
}

#sociais {
    display: flex;

    justify-content: space-between;
    
    width: 80%;
    max-width: 59.6rem;
}